<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locker List Page</title>
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/locker/list.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 20px;">

<header style="text-align: center; padding: 20px; background-color: #4CAF50; color: white;">
    <h1>Locker List</h1>
</header>

<div th:replace="~{fragments/navBar :: navBar}"></div>

<section style="max-width: 100%; margin: 20px auto; background-color: white; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); justify-items: center">
    <div class="add-locker-container">
        <h2>Add Locker </h2>
        <!-- Add "+" icon as a link to the add locker page -->
        <a href="/locker/add" class="add-locker-icon">
            <i class="fa-solid fa-square-plus"></i>
        </a>
    </div>

    <!-- Table Container with 5 tables per row -->
    <div class="table-container">
        <div th:each="locker : ${lockers}" class="locker-table">
            <div th:replace="~{fragments/lockerTable :: table(edit=false)}"></div>
        </div>
    </div>
</section>

<div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>
