<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic HTML Page</title>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; color: #333; margin: 0; padding: 20px;">
<header style="text-align: center; padding: 20px; background-color: #4CAF50; color: white;">
    <h1>Welcome to My Basic Page</h1>
</header>

<section style="max-width: 800px; margin: 20px auto; background-color: white; padding: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); justify-items: center">
    <h2>Locker does not exist...</h2>
<!--    <div th:replace="~{fragments/lockerTable :: table}"></div>-->
</section>

<footer style="text-align: center; padding: 10px; background-color: #333; color: white; margin-top: 20px;">
    <p>&copy; 2025 My Basic Page</p>
</footer>
</body>
</html>