<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Locker Table Fragment</title>
</head>
<body>
<!-- Define the fragment -->
<div th:fragment="table(edit)">

    <!-- Locker is null -->
    <div th:if="${locker == null}">
        <table style="width: 60%; margin: 20px auto; border-collapse: collapse; background-color: white;">
            <thead>
            <tr style="background-color: #4CAF50; color: white; text-align: left;">
                <th style="padding: 10px; text-align: center" colspan="2"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Description</td>
                <td style="padding: 10px; border: 1px solid #ddd; min-width: 100px"></td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Capacity</td>
                <td style="padding: 10px; border: 1px solid #ddd; min-width: 100px"></td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Locked</td>
                <td style="padding: 10px; border: 1px solid #ddd; min-width: 100px"></td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- Locker is not null -->
    <div th:unless="${locker == null}">
        <table style="margin: 20px auto; border-collapse: collapse; background-color: white;">
            <thead>
                <tr style="background-color: #4CAF50; color: white; text-align: left;">
                    <th style="padding: 10px; text-align: center;" colspan="2">
<!--                        This would either toggle goto Locker Details page or goto Locker Edit page-->
<!--                        <a th:href="@{/locker/{id}(id=${locker.id})}" th:if="${onListPage}" style="color: white; text-decoration: none;">-->
<!--                            <span th:text="${locker.name}"></span>-->
<!--                            <i class="fa-solid fa-up-right-from-square" style="margin-left: 5px;"></i>-->
<!--                        </a>-->
<!--                        <a th:unless="${onListPage}" th:href="@{/locker/{id}/edit(id=${locker.id})}" style="color: white; text-decoration: none;">-->
<!--                            <span th:text="${locker.name}"></span>-->
<!--                            <i class="fa-solid fa-pen-to-square" style="margin-left: 5px;"></i>-->
<!--                        </a>-->
<!--                        This will make it so it only shows goto Locker Edit page-->
                            <a th:href="@{/locker/{id}/edit(id=${locker.id})}" style="color: white; text-decoration: none;">
                                <span th:text="${locker.name}"></span>
                                <i class="fa-solid fa-pen-to-square" style="margin-left: 5px;"></i>
                            </a>
                    </th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Description</td>
                <td style="padding: 10px; border: 1px solid #ddd;" th:text="${locker.description}"></td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Capacity</td>
                <td style="padding: 10px; border: 1px solid #ddd;" th:text="${locker.usage + '/' + locker.capacity}"></td>
            </tr>
            <tr>
                <td style="padding: 10px; border: 1px solid #ddd;">Locked</td>
                <td style="padding: 10px; border: 1px solid #ddd;">
                    <div>
                        <span th:text="${locker.locked}"></span>
                        <i class="fa-solid fa-unlock unlocked-icon" style="margin-left: 5px; display: inline" th:if="${locker.locked == false}"></i>
                        <i class="fa-solid fa-lock locked-icon" style="margin-left: 5px; display: inline" th:if="${locker.locked == true}"></i>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<script>
    function gotoEdit(lockerId) {
        window.location.href = "/locker/" + lockerId + "/edit";
    }
</script>
</body>
</html>
