/* Table Styles */
table {
    width: 60%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: white;
}

th {
    padding: 10px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
}

td {
    padding: 10px;
    border: 1px solid #ddd;
}

/* Specific Styles for the Table Content */
td:first-child {
    font-weight: bold;
}